{% extends 'admin.html.twig' %}

{% block title %}Cours de change{% endblock %}

{% block body %}

    <div id="layoutSidenav_content" class="mt-5">
        <main>
            <div class="container-fluid px-4">

                {% include "Partials/Flash.html.twig" %}

                <div class="d-flex justify-content-between">
                    <h3 class="text-black-50"><i class="fad fa-wallet"></i> COURS DE CHANGE</h3>
                    <a href="{{ path("add-exchange") }}" class="btn btn-primary"><i class="fad fa-plus"></i> Ajouter un cour de change</a>
                </div>

                <table class="table table-bordered mt-5">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Cours de change</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ListExchange in ListExchanges%}
                        <tr>
                            <th scope="row">{{ ListExchange.id }}</th>
                            <td>{{ ListExchange.ExchangeValue }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="float-end">
                    <div class="btn-group">
                        <a href="{{ path("print-exchange") }}" target="_blank" class="btn btn-success"><i class="fad fa-print"></i> Imprimer la liste</a>
                        <a href="#" class="btn btn-danger"><i class="fad fa-trash-alt"></i> Supprimer tout</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    </div>

{% endblock %}
