{% extends 'base.html.twig' %}

{% block title %}Impression taux de valeur ajoutée{% endblock %}

{% block body %}

    <body onload="javascript:window.print()">
    <div class="container mt-3">
        <div class="text-center">
            <img src="{{ asset("Assets/css/Logo-prochange.jpeg") }}" alt="Logo Prochange" width="300px">
        </div>
        <h3 class="text-center mt-3"><i class="fad fa-percent"></i> Liste des taux de valeur ajoutée</h3>

        <hr>

        <table class="table table-bordered mt-4">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Taux de valeur ajoutée</th>
            </tr>
            </thead>
            <tbody>
            {% for printTva in printTvas %}
                <tr>
                    <th scope="row">{{ printTva.id }}</th>
                    <td>{{ printTva.tauxValue }} <i class="fad fa-percentage"></i></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </body>

{% endblock %}