{% extends 'base.html.twig' %}

{% block title %}Impression Type de document{% endblock %}

{% block body %}

    <body onload="javascript:window.print()">
    <div class="container mt-3">
        <div class="text-center">
            <img src="{{ asset("Assets/css/Logo-prochange.jpeg") }}" alt="Logo Prochange" width="300px">
        </div>
        <h3 class="text-center mt-3"><i class="fad fa-wallet"></i> Liste des types de document</h3>

        <hr>

        <table class="table table-bordered mt-4">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Type de document</th>
            </tr>
            </thead>
            <tbody>
            {% for PrintTypeDocument in PrintTypeDocuments%}
                <tr>
                    <th scope="row">{{ PrintTypeDocument.id }}</th>
                    <td>{{ PrintTypeDocument.TypeDocumentValue }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </body>

{% endblock %}