{% extends 'admin.html.twig' %}

{% block title %}Taux de valeur ajoutée{% endblock %}

{% block body %}

    <div id="layoutSidenav_content" class="mt-5">
        <main>
            <div class="container-fluid px-4">
                <div class="d-flex justify-content-between">
                    <h3 class="text-black-50"><i class="fad fa-percent"></i> TAUX DE VALEUR AJOUTEE (T.V.A)</h3>
                    <a href="#" class="btn btn-primary"><i class="fad fa-plus"></i> Ajouter un TVA</a>
                </div>

                <table class="table table-bordered mt-5">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Taux de valeur ajoutée</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                    </tr>
                    </tbody>
                </table>
                <div class="float-end">
                    <div class="btn-group">
                        <a href="#" class="btn btn-success"><i class="fad fa-list-alt"></i> Exporter la liste</a>
                        <a href="#" class="btn btn-danger"><i class="fad fa-trash-alt"></i> Supprimer tout</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    </div>

{% endblock %}
